<footer id="footer">
    <div class="container">
        <div class="footer_content">
            <a href="index.html" class="logo">
                <img src="./images/logo.svg" alt="logo">
            </a>
            <nav class="nav">
                <ul class="nav-menu" id="secondMenu">
                    <li class="menu-item"> <a href="index.html" class="nav_link">Home</a></li>
                    <li class="menu-item"> <a href="faq.html" class="nav_link">FAQ</a></li>
                    <li class="menu-item"> <a href="contact.html" class="nav_link">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <div class="social_links-wrap">
                <a href="#" target="_blank" class="social_link">
                    <img src="./images/facebook.svg" alt="image not found">
                </a>
                <a href="#" target="_blank" class="social_link">
                    <img src="./images/x.svg" alt="image not found">
                </a>
                <a href="#" target="_blank" class="social_link">
                    <img src="./images/inst.svg" alt="image not found">
                </a>
                <a href="#" target="_blank" class="social_link">
                    <img src="./images/linkedin.svg" alt="image not found">
                </a>
            </div>
        </div>
    </div>
</footer>