<header id="header">
    <div class="container">
        <div class="header_content">
            <a href="index.html" class="logo">
                <img src="./images/logo.svg" alt="logo">
            </a>
            <div class="nav_wrap">
                <nav class="nav">
                    <ul class="nav-menu" id="menu">
                        <li class="menu-item"> <a href="index.html" class="nav_link">Home</a></li>
                        <li class="menu-item"> <a href="faq.html" class="nav_link">FAQ</a></li>
                        <li class="menu-item"> <a href="contact.html" class="nav_link">Contact Us</a></li>
                    </ul>
                </nav>
                <a href="#" class="header_link">Start Your Search!</a>
            </div>
            <div class="header_burger">
                <span></span>
            </div>
        </div>
    </div>
</header>