@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../fonts/NeueHaasGroteskDisplayPro.woff2') format('woff2'),
        url('../fonts/NeueHaasGroteskDisplayPro.woff') format('woff'),
        url('../fonts/NeueHaasGroteskDisplayPro.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../fonts/NeueHaasGroteskDisplayPro55Roman.woff2') format('woff2'),
        url('../fonts/NeueHaasGroteskDisplayPro55Roman.woff') format('woff'),
        url('../fonts/NeueHaasGroteskDisplayPro55Roman.ttf') format('truetype');
    font-weight: 500;
}